*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-232f3e:#232f3e;
  --color-131921:#131921;
}

a{
  text-decoration: none;
  display: inline-block;
}

.header-top{
  background-color: var(--color-232f3e);
}