
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
}

:root{
  --color-232f3e:#232f3e;
  --color-131921:#131921;
  --color-febd69:#febd69;
  --color-ff9c1c:#ff9c1c;
  --color-E3E6E6:#E3E6E6;
  --color-37475A:#37475A;;
  --color-232F3E:#232F3E;;
  --color-485769:#485769;
  --color-f5f5f7:#f5f5f7;
}


@font-face {
  font-family: amazonEmber;
  src: url(./fonts/AmazonEmber_Rg.ttf) format(ttf);
}
body{
  font-family:amazonEmber;
  background-color: var(--color-E3E6E6);
}



/* header-css start */

a,Link{
  text-decoration: none;
  display: inline-block;
}

.header-top{
  background-color: var(--color-232f3e);
}

.header-mid{
  background-color: var(--color-131921);
}

.header-mid-search .input-group-text{
  background-color: var(--color-febd69);
}

.header-mid-search .input-group-text:hover{
  background-color: var(--color-ff9c1c);
}

.form-control:focus{
  border-color: inherit;
  box-shadow: none;
}

.gap-10{
  gap:10px;
}
.row .header-mid-right{
  flex: 0 0 auto;
  width: 11%;
}


.header-bottom-links{
  width:30px;
  height:30px;
}

.header-bottom{
  background-color: var(--color-232f3e);
}


.header-mid-right:hover{
  border: 2px solid white;
  border-radius: 5%;
}

.col-1{
  align-self: center;
  flex: 0 0 auto;
  width: 10%!important;

  
}

.header-mid .dropdown button{
  color:white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3;
  
  text-decoration: none;
  box-shadow: none;
}


.header-mid .dropdown{
  border: 1px solid var(--color-232f3e);
  
}

.header-mid .dropdown button:hover{
  color: rgb(42, 42, 255);
  
}

.header-mid .dropdown-menu{
  background-color:var(--color-131921);
  border: 1px solid var(--color-232f3e);
  transform: translate(-2px, 31px)!important;
}

.header-mid .dropdown-item{
  color:white;
}



.header-bottom .header-bottom-links{
  color:white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3;
  text-transform: uppercase;
  text-decoration: none;
}
/* header css end */


/* footer-css start */
.footer-top{
  background-color: var(--color-37475A);
  color: white;
}

.footer-top:hover{
  background-color: var(--color-485769);
}

.footer-top-text{
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}


.footer-top-text:hover{
  text-decoration: underline;
  background-color: var;
  cursor: pointer;
}

.footer-top-text{
  text-align: center;
}



.footer-mid{
  background-color: var(--color-232F3E);
  color: white;
}

.footer-mid-heads{
  font-size: 17px;
  font-weight: 700;
}


.footer-link{
  font-size: 14px;
}

.footer-link a{
  text-decoration: none;
  font-size: 14px;
  color: #ddd;
}
.footer-link a:hover{
  text-decoration: underline;
}

.footer-bottom{
  background-color: var(--color-131921);
  color: white;
}

footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  font-weight: 600;
}


/* footer-css end */


/* home-wrapper-1  start*/

/* home-wrapper-1  end*/

/* home-wrapper-2 start*/
.home-wrapper-2{
  background-color: var(--color-f5f5f7) ;
}

.services-text{
  font-size: 14px;
  color: #585858;
  text-align: justify;
}

/* home-wrapper-2  end*/


.blog-wrapper{
  background-color: var(--color-f5f5f7);
}

/* blogCard start */
.blog-card{

  padding: 20px;
  border-radius: 10px;
}

.blog-card img{
  border-radius: 10px 10px 0px 0px;
}


.card-text{
  background-color: white;
}

.card-text .date{
font-size: 13px;
text-transform: uppercase;
font-weight: 400;
}

.card-text .title{
  font-size: 18px;
}

.card-text .button{
  background-color: var(--color-232F3E);
  color: white;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.blog-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;

}

/* blogCard end */


/* product-card start */


.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

/* product-card end*/
